*{
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 25px;
}

memmory-board {
    height: 800px;
    width: 100%;
    padding: 50px;
    background-color: green;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

memmory-card {
    width: 150px;
    height: 150px;
}


.card{
    height: 100%;
    width: 100%;

    position: relative;
    transform: perspective(400px);
    transform-style: preserve-3d;

    transition-duration: 1s;
}


.card-flip{
    transform: rotateY(180deg);
}


.card-face img{
    height: 100%;
    width: 100%;
}


.card-face{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;


}

.card-back{
    height: inherit;
    width: inherit;
    position: absolute;
    backface-visibility: hidden;

    background-color: brown;
    transform: rotateY(180deg);
}

.marked {
    filter: brightness(85%);
    pointer-events: none;
}

.marked div {
    width: 98%;
    height: 98%;
}

score-board {
    width: fit-content;
    height: 50px;

    padding: 0 20px 0 20px;

    background-color: rgb(200, 200, 200);
    border-style: solid;
    border-color: #36454f;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.score {
    width: 1.5rem;
    text-align: center;

    font-size: 2rem;
    font-weight: bold;

    padding: 5px;


    border-radius: 5px;
}

.score-devider {
    font-size: 2rem;
    font-weight: bolder;
    color: #36454f;

    padding: 5px;
}

#config {
    width: fit-content;
    height: 50px;

    padding: 20px 20px 20px 0;

    background-color: rgb(200, 200, 200);
    border-style: solid;
    border-color: #36454f;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    gap: 20px;
    padding: 20px;
}

input {
    height: 50px;
    width: 50px;

    font-size: 1.5rem;
    text-align: center;
    align-self: center;

}

label {
    text-align: center;
    font-size: 1.5rem;
}

button {
    width: 200px;
    height: 50px;
    background-color: dodgerblue;

    font-size: 2rem;
    color:white;

    border-style: none;
    border-radius: 10px;

    align-self: center;

    margin-left: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

memmory-win-screen {
    width: 750px;
    height: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -375px;
    z-index: 1;
    
    background-color:darkcyan;
    border-style: solid;
    border-color: blanchedalmond;
    border-radius: 50px;
    border-width: 10px;

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

memmory-win-screen #color {
    height: 2rem;
    width: 5rem;

    display: inline-block;
}