body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    background-color: brown;

}

#board {
    height: 800px;
    width: 800px;
    padding: 50px;
    background-color: green;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 50px;

    transition-duration: 2s;
}

memmory-card {
    width: 150px;
    height: 150px;
}


.card{
    height: 100%;
    width: 100%;

    border-style: solid;
    border-color: black;
    border-width: 5px;

    position: relative;
    transform: perspective(400px);
    transform-style: preserve-3d;

    transition-duration: 1s;
}


.card-flip{
    transform: rotateY(180deg);
}


.card-face img{
    height: 100%;
    width: 100%;
}


.card-face{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;

    background-color: green;
}

.card-back{
    height: inherit;
    width: inherit;
    position: absolute;
    backface-visibility: hidden;

    background-color: brown;
    transform: rotateY(180deg);
}